<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


<div class="container">
    <div class="row">

          <h1 class="titre1" >République Algérienne Démocratique et Populaire </h1> <br> 
           <h2> Ministère de l'Enseignement Supérieur et de la Recheche Scientifique </h2>
       
        <div class="col-xs-12">
            

            <h1 class="titre">CERTIFICAT DE SCOLARITE</h1>

            <p>Le doyen de la Faculté des <span> Sciences Exactes </span><br> certifie que l'étudiant(e): <br>
            NOM  : <span style="text-transform: uppercase;">{{lastName}}</span> <br>
            Prénom : <span>{{firstName}}</span> <br>
            Né(e) le : <span>{{birthDay}} à {{placeBirth}}</span> <br>
            est inscrit(e) en <span>{{level}} </span><br>
            Matricule : <span>17178MLI2844</span> <br>
            Domaine : <span>Mathématiques et Informatique</span> <br>
            Filière : <span>Informatique</span> <br>
            Spécialité : <span>{{level}}</span> <br>
            Diplôme préparé : <span>Licence-Master-Doctorat</span> <br>
            <span>Année Universitaire : 2019/2020 </span><br>
         </p> <br>

         <p>Document édité par : <br>
            <span>
                SAIDANI Dihia <br>
                & <br>
          OUATTARA Amidou 
            </span>
      </p> <br>

        <p style="float: right;">Béjaia,le 05/04/2020 <br> P/Les Developpeurs.</p> <br>

        <p>NB:Ce document n'est delivré qu'en un seul exemplaire,il appartient à l'étudiant(e) d'en faire des copies certifiées conformes.</p>

        </div>

        <button class="btn btn-success btn-lg">Imprimer</button>
    </div>
</div>
