    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">



    <div class="container-fluid">
        <ul class="nav navbar-nav first">

                <li><a class="link" routerLink="/demande-view">Voir les Demandes d'abscence</a></li>
                <li><a class="link" routerLink="/demande-inscription">Traiter les demandes d'inscrption</a></li>
                <li><a class="link" routerLink="/auth/inscriptionA">Créer un nouveau compte Admin</a></li>
                <li><a class="link" routerLink="/auth/inscriptionE">Créer un nouveau compte Etudiant</a></li>
                <li><a class="link" routerLink="/list-etudiant">Afficher la liste des étudiants</a></li>
                <li><a class="link" routerLink="/affichage-insert">Insérer un affchage</a></li>
          
        </ul>
        
    </div>


