
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">



<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <h1>Connexion</h1>
              <button class="btn btn-primary btn-lg" type="submit" routerLink="/auth/connexionA">Connexion Admnistrateur</button>
              <button class="btn btn-primary btn-lg" type="submit" routerLink="/auth/connexionE" >Connexion étudiant</button>

        </div>
    </div>
   </div>
  
