<div class="container">
      <div class="box">
            <h1>Informations personnelles</h1> <br><br><br>
            <h2 class="info"> First Name: {{firstName}} <br>
                  Last Name : {{lastName}} <br>
                  Birthday : {{birthDay}} <br>
                  Place of Birth : {{placeBirth}} <br>
                  Level : {{level}} <br>
                  Email : {{email}} <br>
                  Password : {{password}} <br>
            </h2>
            <br><br><br>
           

      </div>
</div>
<button class="btn btn-primary btn-lg" type="submit" (click)="onMove()">Go Back</button>