.container{
    margin-top: 200px;
    background:blue ;
    width: 500px;
    height:  600px;
    
    font-family: verdana;
}


.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
    background: #262626;
    box-sizing: border-box;
    padding: 15px;
    transition: .5s;
    overflow: hidden;
}

h1{
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}

h2{
    font: 8px;
    font-family: cursive;
}

 .box h1 , h2{
    margin: 0;
    padding: 0;
    color:#fff;
    transition: .5s ;
    transition-delay: .6s;

    transform: scale(.8);

}

.box:before{
    content: '';
    position: absolute;
    width: 0%;
    height:0%;
    top: 0;
    left:0;
    border-top:2px solid #fff;
    border-left: 2px solid #fff;
    opacity: 0;
    transition : .5s;
    box-sizing: border-box;
}


.box:after{
    content: '';
    position: absolute;
    width: 0%;
    height:0%;
    bottom: 0;
    right:0;
    border-top:2px solid #fff;
    border-left: 2px solid #fff;
    opacity: 0;
    transition : .5s;
    box-sizing: border-box;
}



.box:hover:before{
       width: 100%;
    height:100%;
    opacity: 1;    
}



.box:hover:after{
    width: 100%;
 height:100%;
 opacity: 1;    
}


.box:hover h1 {
  transform: scale(1);    
}
.box:hover h2 {
    transform: scale(1);    
  }

.box:hover{
    box-shadow: 0 25px 30px rgba(0, 0, 0,.5);
}

.box a {
    color: white;
    text-decoration: underline;
margin-left: 60px ;}


.btn{
    margin-left: 200px;
    margin-top: 40px;
    
}




































/*
h1{
    text-align: center;
    margin-bottom: 35px;
    text-shadow: -1px -px #fb6,1px 1px #d60,-3px 0 4px #000;
    font-weight: lighter;
    font-family: fantasy;
    font-size: 50px;
    animation: h1 10s 1;
    animation-iteration-count: infinite;
}

@keyframes h1{
    0%{
        color:black;
        font-weight: bold;
        font-family: 'lato';
    }

    30%{
        letter-spacing: 8px;
       
    }
    
    50%{
        text-transform:capitalize;
        font-size: 30px;
    }

    80%{
        font-family: 'Times New Roman', Times, serif;
    }
}

.info{
    text-align: center;
    height: 100%;
    
}

.btn{
    text-align: center;
    margin-left: 500px;
}

.btn a{
    width: 70px;
    border-radius: 10px 5 10px 5;
    background: #f5f5f5;
    color: #555555;
    font:bold 12px Verdana;
    padding:12px 3 200px 3;
    margin-left: 5px;
    margin-top: 50 px;
    margin-bottom: 10%;
    box-shadow: 1px 1px 3px #1E90FF;  
    font-size: 29px;
    transition: all 0.9s ease-in 0s; 
}

.btn a:hover{
    background: #1E90FF;
    color:white  ;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lato';
    text-transform: uppercase;
}*/