<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">



<div class="row">

    <div class="col-sm-8 col-sm-offset-2">

        <h1>Log in</h1>

        <form (ngSubmit)="onSubmit()" [formGroup]="signinForm">
            <div class="form-group">
                <label for="email">Email Adress: </label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>

            <div class="form-group">
                <label for="password"> Password:</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="signinForm.invalid">Sign Up</button>

        </form>
        <p class="text-danger">{{errorMessage}}</p>
        <a routerLink="/psw-recup">Mot de passe oublié ?</a>
    </div>


</div>