.row
{
    margin-top: 80px;
    background: lightblue;
    border-radius: 10px;
    margin-bottom: 10px;
}
p{
    font-size: 30px;
    margin-top: 20px;
    
}

h1{
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: cursive;
    text-align: center;
    text-shadow: -1px -px #fb6,1px 1px #d60,-3px 0 4px #000;
    font-weight: bold;
    font-size: 50px;
    animation: h1 9s linear forwards;
    animation-iteration-count: infinite;
}

@keyframes h1{
    0%{
        font-size: medium;
        letter-spacing: 10px;
    }

    50%{
       font-weight: bold;
       letter-spacing: 6px;
      
    }

    100%{
       font-family: 'Times New Roman', Times, serif;
       letter-spacing: 1px;
      
    }
}

div label {
    font-size: 23px;
    font-family: cursive;
    color: #464646;
}

div select{
    padding: 8px;
}

.btn{
    margin-left:43%;
    margin-top: 20px;
    border-radius: 12px 0 12px 0;
    background: #f5f5f5;
    color: #555555;
    font:bold 12px Verdana;
    padding:12px 3 12px 3;
    margin-left: 15px;
    margin-top: 50 px;
    box-shadow: 1px 1px 3px #1E90FF;  
    font-size: 20px;
    transition: all 0.8s ease-in 0s; 
}

.btn:hover{
    background: #1E90FF;
    color:white  ;
    text-decoration: none;
}

