
    

<div class="row" >

    <div class="col-sm-8 col-sm-offset-2">

        <h1>Create account</h1>

        <form (ngSubmit)="onSubmit()" [formGroup]="signupForm">

            <div class="form-group" class="col-xs-12">
                <label for="firstName">First Name : </label>
                <input type="text" id="firstName" class="form-control" formControlName="firstName">
            </div>

            <div class="form-group" class="col-xs-12">
                <label for="lastName">Last Name : </label>
                <input type="text" id="lastName" class="form-control" formControlName="lastName">
            </div>

            <div class="form-group" class="col-xs-12">
                <label for="birthDay"> Birthday : </label>
                <input type="date" id="birthDay" min="01/01/1800" formControlName="birthDay" class="form-control">
            </div>

            <div class="form-group" class="col-xs-12">
                <label for="placeBirth"> PlaceBirth : </label>
                <input type="text" id="placeBirth" formControlName="placeBirth" class="form-control">
            </div>


            <div class="form-group" class="col-xs-12">
                <label for="level">Level : </label>
                <select name="level" id="level" formControlName="level">
                    <option [ngValue]="null" disabled> </option>
                    <option *ngFor="let lvl of level" [value]="lvl">{{lvl}}</option>
                </select>

            </div>


            <div class="form-group" class="col-xs-12">
                <label for="email">Email Adress: </label>
                <input type="email" id="email" class="form-control" formControlName="email">
            </div>

            <div class="form-group" class="col-xs-12">
                <label for="password"> Password:</label>
                <input type="password" id="password" class="form-control" formControlName="password">
            </div>

            <div class="form-group" class="col-xs-12">

                <label for="motivation">Motivation : </label>

                <textarea id="cause" rows="4" cols="50" class="form-control" formControlName="motivation"></textarea>


            </div>

            <button class="btn btn-primary btn-lg " type="submit" [disabled]="signupForm.invalid">Sign Up</button>

        </form>
        <p  *ngIf="active"  class="text-success">{{successMessage}}</p>
    </div>


</div>
