<div class="row">

    <div class="col-sm-8 col-sm-offset-2">
        <div class="white-line"></div>

        <h1>Modifier les informations de {{nom}} {{prenom}}</h1>

        <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">

            <div class="form-group" class="col-xs-12">
                <label for="firstName">First Name : </label>
                <input type="text" id="firstName" class="form-control" value="{{prenom}}" formControlName="firstName">
            </div>

            <div class="form-group" class="col-xs-12">
                <label for="lastName">Last Name : </label>
                <input type="text" id="lastName" class="form-control" value="{{nom}}" formControlName="lastName">
            </div>

            <div class="form-group" class="col-xs-12">
                <label for="birthDay"> Birthday : </label>
                <input type="text" id="birthDay" min="01/01/1800" value="{{dateNais}}" formControlName="birthDay"
                    class="form-control">
            </div>

            <div class="form-group" class="col-xs-12">
                <label for="placeBirth"> PlaceBirth : </label>
                <input type="text" id="placeBirth" formControlName="placeBirth" value="{{placeNais}}"
                    class="form-control">
            </div>


            <div class="form-group" class="col-xs-12">
                <label for="level">Level : </label>
                <input type="text" id="level" value="{{niveau}}" class="form-control" formControlName="level">

            </div>


            <div class="form-group" class="col-xs-12">
                <label for="email">Email Adress: </label>
                <input type="email" id="email" class="form-control" value="{{email}}" formControlName="email">
            </div>

            <div class="form-group" class="col-xs-12">
                <label for="password"> Password:</label>
                <input type="text" id="password" class="form-control" value="{{password}}" formControlName="password">
            </div>

            <div class="form-group" class="col-xs-12">
                <label for="motivation">Motivation : </label>
                <textarea cols="50" rows="4" id="cause" class="form-control" value="{{motivation}}"
                    formControlName="motivation"></textarea>
            </div>

            <button class="btn btn-primary btn-lg" type="submit" [disabled]="changeForm.invalid">Valider</button>
            <button class="btn btn-info btn-lg" type="submit" routerLink="/list-etudiant">Retour</button>

        </form>
        <!-- <p class="text-danger">{{errorMessage}}</p>-->
    </div>


</div>