<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-8 list-group-item ">
            <h1>Récuperation du mot de passe</h1> <br> <br>
            <p> Bonjour Mme/Mr : {{lastName }}  {{firstName}} <br><br> Votre mot mot de passe est : {{password}}</p>
            <br>
            <div><button class="btn btn-primary btn-lg" routerLink="/auth/connexionE">Se connecter</button></div> 
        </div>
    </div>
</div>
