<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="row">
    <div class="col-xs-12 col-offset-2">
        <ul>
        <li style="list-style-type: none;"><a id="a" routerLink="/permission">Demande de permissionnnnnnnn</a></li> <br>
        <li ><a id="b" routerLink="/abs-reponse-form">Consulter la réponse à la demande d'absence</a></li>
    </ul>
    </div>
</div>
