<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

<div class="container">
   <div class="list-group-item">
       <p style="float:right;color: blue;">Affiché le {{date|date:'short'|uppercase}}</p> <br>
        <h3 style="font-weight: bold;font-family: Georgia, 'Times New Roman', Times, serif;">Titre:{{titre}}</h3><br>
        <h3>Contenu:</h3> 
        <p> {{contenu}} </p>
    </div>
</div>
